<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="menu_nav::header"></div>
	<div>
		<tr>
			<div align="right">
				<a class="button" th:href="@{'/new'}">Add New Student</a>
			</div>

		</tr>
		<tr>
			<div class="col-sm-8" align="center">
				<div class="panel-body" align="center">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>LastName</th>
								<th>Age</th>
								<th>Email</th>
								<th>Teacher</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="student : ${listStudent}">
								<td th:text="${student.id}">id</td>
								<td th:text="${student.name}">name</td>
								<td th:text="${student.lastName}">lastName</td>
								<td th:text="${student.age}">age</td>
								<td th:text="${student.email}">email</td>
								<td th:text="${student.teacher}">teacher</td>
								<td><a class="button" th:href="@{'/edit/' + ${student.id}}">Edit</a>
								</td>
								<td><a class="button"
									th:href="@{'/delete/' + ${student.id}}">Delete</a></td>
							</tr>

						</tbody>
					</table>

				</div>
			</div>
		</tr>
		</tbody>
		</table>
</body>
</html>
